
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a class="w3-bar-item">The Weather Man</a>
    </div>
  </div>
<form [formGroup]="resetForm" autocomplete="off"  class="modal-content animate" action="/action_page.php">
  <div class="imgcontainer">
      <h2 >Reset Password</h2>
    <img src="/assets/img_avatar2.png" alt="Avatar" class="avatar">
  </div>
  <div class="container">
    <input type="password" formControlName="newPassword" placeholder="Enter new password" name="psw" required>
            <div class="relative"
            *ngIf="onsubmitbtn ||(resetForm.controls['newPassword'].dirty || resetForm.controls['newPassword'].touched)">
        <mat-error class="error-msg relative" *ngIf="resetForm.controls['newPassword'].hasError('required')">New
            New Password is
          required
        </mat-error>
        </div>
    <input type="password" formControlName="confirmNewPassword" placeholder="Enter confirm password" name="psw" required>
          <div class="relative"
          *ngIf="onsubmitbtn || (resetForm.controls['confirmNewPassword'].dirty || resetForm.controls['confirmNewPassword'].touched)">
      <mat-error class="error-msg" *ngIf="resetForm.controls['confirmNewPassword'].hasError('required')">
        Confirm Password
        is required
      </mat-error>
      </div>
    <button (click) ="resetPassword(resetForm)">Reset Password</button>
  </div>
</form>